.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    margin: 0 auto;
    margin-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #3f3d3d;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

li {
    margin-left: 10px;
    color: white;
}

.left-items {
    display: flex;
    align-items: center;
}

.right-items {
    display: flex;
    align-items: center;
}


.settingsButton,
.homeButton,
.title {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: 2px solid #ffacacaa;
    border-radius: 4px;
    font-size: 14px;
    padding: 5px;
    color: #F7E3E3;
    cursor: pointer;
    font-weight: 600;
}

.settingsButton:hover,
.homeButton:hover,
.title:hover {
    font-weight: 800;
    color: white;
}

.settingsIco,
.homeIco,
.appleIco {
    margin-right: 5px;
    fill: #F7E3E3;
    height: 14px;
}

.clock {
    color: #F7E3E3;
    font-weight: 600;
}