.pomodoroBox {
    background-color: #C15C5C;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 500px;
    margin: 10% auto 0;
    border-radius: 6px;
}


.countdown {
    font-family: 'Valera Round', sans-serif;
    font-size: 120px;
    color: white;
    font-weight: 1000;
    letter-spacing: 14px;
}

.start,
.reset {
    width: 140px;
    height: 50px;
    color: #C15C5C;
    font-family: 'Valera Round', sans-serif;
    font-weight: 1000;
    margin-right: 10px;
    margin: 5px;
    padding: 8px;
    cursor: pointer;

}

.addMinute,
.addSecond {
    width: 150px;
    height: 40px;
    border: 0px;
}

span {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.buttomButtons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.topButtons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 8px 16px;
    margin: 0 5px;
    color: #ffffff;
    font-size: 16px;
    border-radius: 8px;
}

.selected {
    background-color: #ffffff;
    color: #000000;
}


.start,
.reset {
    appearance: button;
    background-color: #FFFFFF;
    background-image: none;
    border: 1px solid #EBEBEB;
    border-radius: 4px;
    box-shadow: #EBEBEB 4px 4px 0 0, #EBEBEB 4px 4px 0 1px;
    box-sizing: border-box;
    color: #C15C5C;
    cursor: pointer;
    display: inline-block;
    font-family: ITCAvantGardeStd-Bk, Arial, sans-serif;
    font-size: 14px;
    font-weight: 800;
    line-height: 20px;
    margin: 0 5px 10px 0;
    overflow: visible;
    padding: 12px 40px;
    text-align: center;
    text-transform: none;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
}

.start:focus,
.reset:focus {
    text-decoration: none;
}

.start:hover,
.reset:hover {
    text-decoration: none;
}

.start:active,
.reset:active {
    box-shadow: #EBEBEB 0 3px 5px inset;
    outline: 0;
}

.start:not([disabled]):active,
.reset:not([disabled]):active {
    box-shadow: #fff 2px 2px 0 0, #EBEBEB 2px 2px 0 1px;
    transform: translate(2px, 2px);
}

@media (min-width: 768px) {

    .start,
    .reset {
        padding: 12px 50px;
    }
}