.settings-window {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 800px;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 9999;
    border-radius: 8px;
}


.topButtons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.settingsTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #AAAAAA;
    margin: 0px;
}

.closeSettings {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.closeIco {
    fill: #AAAAAA;
    height: 22px;
}

.timerTitle {
    justify-content: center;
}

.timerTitle,
.longTitle,
.shortTitle,
.pomodoroTitle {
    color: #AAAAAA;
    display: flex;
    align-items: center;
}

.clockIco {
    margin-right: 2px;
    height: 18px;
}

.minutes,
.seconds {
    width: 60px;
    height: 30px;
    padding: 6px;
    background-color: #EFEFEF;
    border: 0px;
    border-radius: 6px;
    font-size: 16px;
    color: #B1B1B1;
}

.submitDiv {
    background-color: #EFEFEF;
    position: absolute;
    bottom: 0;
    right: 0;
    height: 8%;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}

.submitButton {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 60px;
    height: 30px;
    border: 0px;
    font-size: 15px;
    background-color: rgb(46, 46, 56);
    border-radius: 6px;
    color: #EFEFEF;
    font-weight: 500;
    cursor: pointer;
}

.submitButton:hover {
    background-color: rgb(31, 25, 25);
}

.Hr {
    width: 100%;
    border-top: 1px;
}

.timer-section {
    margin-bottom: 20px;
}

.input-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #626262;
    font-weight: 500;
}

.input-field {
    margin-left: 50px;
}

.input-field label {
    display: block;
    margin-bottom: 5px;
}