.tasks-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.tasks-div {
    background-color: #BA4949;
    height: 100px;
    width: 500px;
}

.top-task {
    display: flex;
    justify-content: space-between;
}

.task-title {
    color: aliceblue;
    font-weight: 600;
    font-size: 16px;
}

.tasks-settings {
    background-color: #C15C5C;
    border: 0px;
}

.add-task {
    background-color: #C15C5C;
}

.add-task-btn {
    width: 100%;
    height: 60px;
    background-color: #C15C5C;
    border: 2px dotted #ffffff;
    cursor: pointer;

}

.new-task{
    width: 100%;
    height: 120px;
    background-color: white;
    border-radius: 12px;
    margin-bottom: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.task-input{
    width: 90%;
    font-size: 30px;
    margin-bottom: 10px; 
}

.new-task-bottom{
    background-color: #EFEFEF;
    bottom: 10px;
    margin-top: auto; 
    height: 30%;
}

.new-task-bottom {
    display: flex;
    justify-content: flex-end;
}

.cancel-button, .add-button {
    margin-left: 10px;
}


