.tasks-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.tasks-div {
    height: 100px;
    width: 500px;

}

.top-task {
    display: flex;
    justify-content: space-between;
}

.task-title {
    color: #e0dcdc;
    font-weight: 600;
    font-size: 16px;
    cursor: default;
}

.task-title:hover {
    color: #fff;
}

.tasks-settings {
    background-color: transparent;
    border: 0px;
    font-size: 20px;
    color: #e0dcdc;
    cursor: pointer;
    margin-top: 10px;
}


.tasks-settings:hover {
    color: #fff;
}

.task-hr {
    border: none;
    height: 2px;
    background-color: #fff;
}

.task-list {
    overflow: hidden;
    max-height: 262px;
}

.task-list:hover {
    overflow: auto;
}

.add-task {
    background-color: transparent;
}

.add-task-btn {
    width: 100%;
    height: 60px;
    background-color: transparent;
    border: 2px dashed #e0dcdc;
    cursor: pointer;
    border-radius: 8px;
    outline: none;
    color: #e0dcdc;
    font-size: 20px;
    font-weight: bold;
    margin-top: 5px;

}

.add-task-btn:hover {
    color: #ffffff;
    border: 2px dashed #ffffff;
}

.new-task {
    width: 100%;
    background-color: #ffffff;
    border-radius: 12px;
    margin-bottom: 5px;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.task-input {
    width: 90%;
    margin: 0 auto;
    margin-top: 10px;
    border: 0px;
    outline: none;
    font-size: 30px;
    margin-bottom: 10px;
}

.task-time {
    width: 50px;
    font-size: 20px;
    margin-left: 24px;
    margin-top: 4px;
    margin-bottom: 10px;
    background-color: #EFEFEF;
    border: 0px;
    border-radius: 8px;
    padding: 6px;
    color: #858585;
    outline: none;
}

.task-time-label {
    margin-left: 26px;
    color: #858585;
    font-weight: lighter;
}

.time-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.time-buttons-div {
    margin-left: 10px;
    margin-top: 6px;
    margin-bottom: 10px;

}

.increment-button,
.decrement-button {
    -moz-box-align: center;
    align-items: center;
    -moz-box-pack: center;
    justify-content: center;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    opacity: 0.9;
    font-size: 14px;
    padding: 8px 12px;
    display: inline-block;
    min-width: 0px;
    background-color: white;
    color: rgb(85, 85, 85);
    border: 1px solid rgb(223, 223, 223);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 2px;
    margin-left: 2px;
    margin-top: 6px;
    margin-bottom: 10px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.new-task-bottom {
    background-color: #EFEFEF;
    bottom: 10px;
    margin-top: auto;
    height: 30%;
    display: flex;
    justify-content: flex-end;
}



.cancel-button,
.add-button {
    margin-left: 5px;
    margin-right: 5px;
    border: 0px;
    margin-top: 4px;
    margin-bottom: 4px;
    font-size: 15px;
    border-radius: 6px;
    cursor: pointer;
}

.add-button {
    color: white;
    background-color: rgb(46, 46, 56);
}

.add-button:hover {
    background-color: rgb(31, 25, 25);
}

.cancel-button {
    color: #998e8e;
    background-color: transparent;
}

.cancel-button:hover {
    color: #5f5b5b;
}

.checkbox-wrapper .round {
    position: relative;
}

.checkbox-wrapper .round label {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
    height: 28px;
    width: 28px;
    display: block;
}

.checkbox-wrapper .round label:after {
    border: 2px solid #fff;
    border-top: none;
    border-right: none;
    content: "";
    height: 6px;
    left: 8px;
    opacity: 0;
    position: absolute;
    top: 9px;
    transform: rotate(-45deg);
    width: 12px;
}

.checkbox-wrapper .round input[type="checkbox"] {
    visibility: hidden;
    display: none;
    opacity: 0;
}

.checkbox-wrapper .round input[type="checkbox"]:checked+label {
    background-color: #C15C5C;
    border-color: #C15C5C;
}

.checkbox-wrapper .round input[type="checkbox"]:checked+label:after {
    opacity: 1;
}

.checkbox-wrapper {
    position: relative;
}

.checkbox-wrapper input[type="checkbox"] {
    position: absolute;
    opacity: 0;
}

.task-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2px;
    margin-bottom: 2px;
    cursor: pointer;
    border-radius: 6px;
    align-items: center;
    text-align: center;
    opacity: 0.9;
    font-size: 14px;
    padding: 8px 12px;
    background-color: white;
    color: rgb(85, 85, 85);
    border: 1px solid rgb(223, 223, 223);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 2px;
    height: 45px;
    border-left: 5px solid transparent;
}

.task-item:hover {
    border-left: 5px solid #e0dcdc;
}

.delete-task {
    border: 0px;
    background-color: transparent;
    font-size: 18px;
    color: #e0dcdc;
    cursor: pointer;
}

.delete-task:hover {
    color: #858585;

}

@keyframes expand {
    from {
        height: 0;
    }

    to {
        height: 180px;
    }
}

.new-task {
    overflow: hidden;
    animation: expand 0.4s ease forwards;
}

.selected-task {
    border-left: 5px solid #222222;
}

.selected-task:hover {
    border-left: 5px solid #222222;
}

.timers-div {
    border-left: 2px solid #222222;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 10px;
    line-height: 2%;
    padding-left: 4px;
}

.est-time {
    font-size: 10px;
    margin-right: 54px;
}

.task-content-left {
    display: flex;
    align-items: center;
}

.task-content-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.round {
    margin-left: 3px;
    margin-right: 8px;
}

.top-task {
    position: relative;
}

.tasks-settings {
    position: absolute;
    top: 0;
    right: 0;
}

.task-settings {
    position: absolute;
    top: calc(100% + 5px);
    right: 0;
    width: 160px;
    height: 90px;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 9999;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.tasks-clear, .tasks-done-clear{
    width: 100%;
    margin-top: 5px;
    background-color: white;
    border: 0px;
    display: flex;
    align-items: flex-start;
    padding: 4px;
    border-radius: 4px;
}

.tasks-clear:hover,.tasks-done-clear:hover{
    background-color: #ccc;
    cursor: pointer;
}


.tasks-clear-icon, .tasks-done-clear-icon{
    margin-right: 5px;
}

.no-tasks-sentence{
    color: #e0dcdc;
    font-weight: bold;
    cursor: default;
}

.no-tasks-sentence:hover{
    color: white;
}